[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
flake8 = "*"
asteval = "*"
wikipedia = "*"
google-api-python-client = "*"
translate = "*"
discord-py = {git = "https://github.com/Rapptz/discord.py.git",ref = "rewrite"}

[requires]
python_version = "3.7"

[scripts]
real = "python -m project real profile"
test = "python -m project test profile"
realnp = "python -m project real"
testnp = "python -m project test"
lint = "python -m flake8 project"
